{% extends "blogbase.html" %}

{% block content %}

<body>
	<div class="main-content">
		{% if user %}
	    	{% include "logout-header.html" %}
		{% else %}
		    {% include "login-header.html" %}
		{% endif %}

		<h1 class="shadow">
			Blog entries
		</h1>
		<div class="error">{{ error }}</div>
		{% for blog_post in posts %}
			<div class="entry shadow">
				<div class="title">{{ blog_post.title }}</div>
				<div class="date">
					{{ blog_post.created.strftime("%b %d, %Y") }}
				</div>
				<div class="modify">
					<a href="/blog/delete/{{ blog_post.key.id() }}" class="confirmDel">
						Delete
					</a>
				</div>
				<div class="modify">
					<a href="/blog/edit/{{ blog_post.key.id() }}">Edit</a>
				</div>
				<div class="modify">
					<a href="/blog/{{ blog_post.key.id() }}">
						View post and comments
					</a>
				</div>
				<div class="modify">
					<a href="/blog/like/{{ blog_post.key.id() }}">
						Like
					</a>
				</div>
				<div class="modify">
					Likes: {{ blog_post.liked|length }}
				</div>
				<hr class="content">
				<pre class="content">{{ blog_post.content }}</pre>
				<div class="content">
					<p>
						Author: {{ blog_post.creator }}
					</p>
				</div>
			</div>
		{% endfor %}
	</div>
	<script src="../static/app.js"></script>
</body>
{% endblock %}