{% extends "blogbase.html" %}

{% block head %}
	<title>Edit post</title>
	<link rel="stylesheet" href="../static/main.css">
{% endblock head %}

{% block content %}

<body>
	{% include 'logout-header.html' %}
	<h2>Edit your post</h2>
	<div class="error">{{ error }}</div>
	<form method="post">
		<label>
			<div>Title</div>
			<input class="large-text" type='text' name='subject' value="{{ title }}">
		</label>

		<label>
			<div>Blog</div>
			<textarea name="content">{{ content }}</textarea>
		</label>
		<input type="submit">
	</form>
</body>

{% endblock %}