<header>
	<div class="container">
		<a href="/blog" class="no-underline">
			<div class="button shadow">
				Main page
			</div>
		</a>
		<a href="/blog/newpost" class="no-underline">
			<div class="button shadow">
				New Post
			</div>
		</a>
		<div class="button shadow no-underline">
			Logged in as {{ user }}
		</div>
		<a href="/logout" class="right no-underline">
			<div class="button shadow">
				Logout
			</div>
		</a>
		<a href="http://coralvanda.com" class="no-underline">
			<div class="button shadow">
				Return to portfolio
			</div>
		</a>
	</div>
</header>