{% extends "blogbase.html" %}

{% block content %}

{% if user %}
    {% include 'logout-header.html' %}
{% else %}
    {% include 'login-header.html' %}
{% endif %}

<body>
	<h2>Enter a new blog post</h2>
	<div>{{error}}</div>
	<form method="post">
		<label>
			<div>Title</div>
			<input class="large-text" type='text' name='subject' value="{{ title }}">
		</label>

		<label>
			<div>Blog</div>
			<textarea name="content">{{ content }}</textarea>
		</label>
		<input type="submit">
	</form>
</body>

{% endblock %}