{% extends 'blogbase.html' %}

{% block head %}
	<title>View post</title>
	<link rel="stylesheet" href="../static/main.css">
{% endblock head %}

{% block content %}
<body>
	{% if user %}
    	{% include 'logout-header.html' %}
	{% else %}
    	{% include 'login-header.html' %}
	{% endif %}

	<h1 class="shadow color-fade">Entry</h1>
	<div class="error">{{ error }}</div>
	<div class="entry shadow color-fade">
		<div class="title">{{ blog_post.title }}</div>
		<div class="date">{{ blog_post.created.strftime("%b %d, %Y") }}</div>
		<div class="modify">
			<a href="/blog/delete/{{ post_id }}" class="confirmDel">
				Delete
			</a>
		</div>
		<div class="modify">
			<a href="/blog/edit/{{ post_id }}">Edit</a>
		</div>
		<div class="modify">
			<a href="/blog/like/{{ post_id }}">Like</a>
		</div>
		<div class="modify">
				Likes: {{ blog_post.liked|length }}
			</div>
		<hr class="content">
		<pre class="content">{{ blog_post.content }}</pre>
		<div class="content">
			<p>Author: {{ blog_post.creator }}</p>
		</div>
	</div>

	{% for comment in comments %}
		<div class="entry comment shadow color-fade">
			<div class="date">
				{{ comment.created.strftime("%b %d, %Y") }}
			</div>
			<div class="modify">
				<a href="/comment/delete/{{ comment.key.id() }}" class="confirmDel">
					Delete
				</a>
			</div>
			<div class="modify">
				<a href="/comment/edit/{{ comment.key.id() }}">		Edit
				</a>
			</div>
			<hr class="content">
			<pre class="content">{{ comment.content }}</pre>
			<div class="content">
				<p>Author: {{ comment.creator }}</p>
			</div>
		</div>
	{% endfor %}

	<h2>Enter a new comment on this post</h2>
	<div class="error">{{ error }}</div>
	<form method="post">
		<label>
			<div>Comment</div>
			<textarea name="content">{{ content }}</textarea>
		</label>
		<input type="submit" value="Post">
		<a href="/blog/{{ post_id }}">Cancel</a>
	</form>


	<script src="../static/app.js"></script>
</body>

{% endblock %}