{% extends 'blogbase.html' %}

{% block head %}
	<title>View post</title>
	<link rel="stylesheet" href="../static/main.css">
{% endblock head %}

{% block content %}
<body>
	{% if user %}
    	{% include 'logout-header.html' %}
	{% else %}
    	{% include 'login-header.html' %}
	{% endif %}
	<h1>Entry</h1>
	<div class="entry">
		<div class="title">{{ blog_post.title }}</div>
		<div class="date">{{ blog_post.created.strftime("%b %d, %Y") }}</div>
		<div class="modify">
			<a href="/blog/delete/{{ post_id }}" id="confirmDel">
				Delete
			</a>
		</div>
		<div class="modify">
			<a href="/blog/edit/{{ post_id }}">Edit</a>
		</div>
		<div class="modify">
			<a href="/blog/like/{{ post_id }}">Like</a>
		</div>
		<div class="modify">
				Likes: {{ blog_post.liked|length }}
			</div>
		<hr class="content">
		<div class="content">{{ blog_post.content }}</div>
	</div>

	<script src="../static/app.js"></script>
</body>

{% endblock %}