
html {
	background: white;
}

body {
	font-family: sans-serif;
	width: 800px;
	margin: 0 auto;
	padding: 10px;
}

h1 {
	color: black;
	margin: 10px 0 10px 0;
	height: 50px;
	text-align: center;
}

label {
	display: block;
	font-size: 20px;
}

textarea {
	width: 400px;
	height: 200px;
	font-size: 17px;
	font-family: monospace;
}

input[type=submit] {
	font-size: 15px;
}

hr {
	margin: 20px auto;
}

pre {
	white-space: pre-wrap;
}

p {
	font-size: small;
}

.error {
	color: red;
}

.entry {
	padding: 0 2px 0 2px;
}

.color-fade {
	background: #38bae4;
	background-repeat: no-repeat;
	background: linear-gradient(to bottom right, #53b0ce, #add8e6);
	background-attachment: fixed;
}

.comment {
	margin-left: 30px;
}

.title {
	font-weight: bold;
	float: left;
}

.date {
	font-style: italic;
	float: right;
}

.modify {
	float: right;
	margin: 0 30px 0 0;
}

.content {
	clear: both;
	margin: 0 0 15px 0;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.button {
	background: linear-gradient(white, gray);
	padding: 2px;
	margin: 0 2px 0 2px;
	border: 1px solid black;
}

.button:hover {
	background: white;
}

.no-underline {
	text-decoration: none;
	color: black;
	font-family: "Times New Roman", Arial;
}

.large-text {
	width: 400px;
	font-size: 20px;
	padding: 2px;
}

.right {
	margin-left: auto;
}

.shadow {
	box-shadow: 4px 4px 5px black;
}

.main-content {

}